### General configuration ####################################################
system.name       = Addi example
system.config     = ${cfg}

system.throttle.rtf = 0
system.core.trace = 0
# Specify simulation duration. Simulation will stop automatically once this
# time-stamp is reached. Use integer values with suffixes s, ms, us or ns. If
# you want to simulate infinitely, leave this commented out.
#  system.duration = 2s

# TLM global quantum, a higher value improves performance but reduces timing
# accuracy. Use integer values with suffixes s, ms, us or ns.
# 100 instructions on a call of simulate (1 instr = 1 clk cycle)
system.quantum = 100ns
system.duration = 1s # --> 1k instructions --> 1ns/instr

# Clock frequency
system.clk_cpu.hz = 1000000000 # 1 GHz

### CPU configuration ########################################################
system.core.arch_name = "rv32"
system.core.verbose = false 
system.core.gdb_port   = 5555
system.core.gdb_wait   = false 
system.core.symbols = ${dir}/build/zephyr/zephyr.elf
system.core.pc = 0x80002000

# Memory configuration
system.core.elf = ${dir}/build/zephyr/zephyr.elf
system.loader.images = ${dir}/build/zephyr/zephyr.elf
# system.ram = 0x80000000..0x8006FFFF



#system.ram.size     = 0x10000000    # 256MB
#system.ram.images = ${dir}/build/zephyr/zephyr.elf@0x00000000


# # Terminal configuration
# system.term.backends  = stdout # stdout|file|tap|null

# ### CPU 1 configuration ########################################################
system.core2.arch_name = "rv32"
system.core2.symbols = ${dir}/build/zephyr/zephyr.elf
system.core2.pc = 0x80002000       # Core 1 must also start at the safe address
system.core2.verbose = false
system.core2.async = true
system.core.async = true
system.term.backends  = stdout # stdout|file|tap|null



#specific for current zephyr 
system.ram             = 0x80000000..0x8001FFFF
system.addr_uart0      = 0x80020000..0x80020FFF
system.addr_plic       = 0x80021000..0x80222FFF
system.addr_clint      = 0x80400000..0x8040FFFF
