### General configuration ####################################################
system.name       = Addi example
system.config     = ${cfg}

# Passen Sie diesen Wert an Ihre Build-Einstellung (-DNRCPU) an!
system.ncores = 1

system.throttle.rtf = 0
system.quantum = 100ns
system.duration = 10000000000s

system.clk_cpu.hz = 1000000000 # 1 GHz

### CPU configuration ########################################################
for i : ${system.ncores} do
system.core${i}.arch_name = "rv32"
system.core${i}.verbose   = false
system.core${i}.trace     = 0


system.core${i}.async     = false
# system.core${i}.async_rate = 10

system.core${i}.pc        = 0x80000000
system.core${i}.symbols   = ${dir}/build/zephyr/zephyr.elf
system.core${i}.elf       = ${dir}/build/zephyr/zephyr.elf
system.core${i}.speedup_wfi = false
system.core${i}.invalidate_all_regs = false 
system.core${i}.simulate_atomics = false
system.core${i}.log_to_file         = false
# system.core${i}.use_dmi       = true
done

system.core0.gdb_port = 5555
system.core0.gdb_wait = true
system.multicore_simdev.write_to_file = false
system.loader.images = ${dir}/build/zephyr/zephyr.elf
system.term.backends = stdout 

system.ram             = 0x80000000..0x8FFFFFFF
system.addr_uart0      = 0x10000000..0x10000FFF
system.addr_plic       = 0x0C000000..0x0C224FFE
system.addr_clint      = 0x04000000..0x0400FFFF
system.addr_multicore_simdev = 0x1C203000..0x1C203FFF
system.addr_simdev = 0x1E203000..0x1E203FFF