config UART_PYDROFOIL
	bool "Pydrofoil nRF51 UART emulator driver"
	default y
	depends on DT_HAS_PYDROFOIL_NRF_UART_ENABLED
	select SERIAL_HAS_DRIVER
	help
	  Enable the custom Pydrofoil UART emulator driver for VCML.