/* SPDX-License-Identifier: Apache-2.0 */

/dts-v1/;

#include "virt-riscv32.dtsi"

/ {
	chosen {
		zephyr,console = &uart_new;
		zephyr,shell-uart = &uart_new;
		zephyr,sram = &ram0;
	};
	
	uart_new: uart@10000000 {
		compatible = "pydrofoil,nrf-uart";
		reg = <0x10000000 0x1000>;
		interrupts = <5 1>; /* IRQ_UART0 (system.h:45) */
		interrupt-parent = <&plic>;
		status = "okay";
	};
};

&ram0 {
	reg = <0x80000000 0x10000000>;
};

/* Dynamisches Interrupt-Wiring für CLINT */
&clint {
	status = "okay";
	interrupts-extended = <&hlic0 0x03 &hlic0 0x07>
#if NRCPU > 1
			    , <&hlic1 0x03 &hlic1 0x07>
#endif
#if NRCPU > 2
			    , <&hlic2 0x03 &hlic2 0x07>, <&hlic3 0x03 &hlic3 0x07>
#endif
#if NRCPU > 4
			    , <&hlic4 0x03 &hlic4 0x07>, <&hlic5 0x03 &hlic5 0x07>
			    , <&hlic6 0x03 &hlic6 0x07>, <&hlic7 0x03 &hlic7 0x07>
#endif
			    ;
};

/* Dynamisches Interrupt-Wiring für MTIMER */
&mtimer {
	status = "okay";
	interrupts-extended = <&hlic0 0x07>
#if NRCPU > 1
			    , <&hlic1 0x07>
#endif
#if NRCPU > 2
			    , <&hlic2 0x07>, <&hlic3 0x07>
#endif
#if NRCPU > 4
			    , <&hlic4 0x07>, <&hlic5 0x07>
			    , <&hlic6 0x07>, <&hlic7 0x07>
#endif
			    ;
};

/* Dynamisches Interrupt-Wiring für PLIC */
&plic {
	status = "okay";
	interrupts-extended = <&hlic0 0x0b>
#if NRCPU > 1
			    , <&hlic1 0x0b>
#endif
#if NRCPU > 2
			    , <&hlic2 0x0b>, <&hlic3 0x0b>
#endif
#if NRCPU > 4
			    , <&hlic4 0x0b>, <&hlic5 0x0b>
			    , <&hlic6 0x0b>, <&hlic7 0x0b>
#endif
			    ;
};